include *.json
include *.py
include *.txt
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include src *.py
recursive-include test *.json
recursive-include test *.py
recursive-include test *.txt
